.form-container {
    width: 50%;
    margin: auto;

    form {
        .actions {
            display: flex;
            justify-content: space-between;
    
            button {
                width: 48%;
                font-size: 16px;
            }
        }
    }
}